:host {
    display: block;
}



.hero-gradient-text {
    background: linear-gradient(90deg, #F5F5F5 0%, #A0A0A0 50%, #F5F5F5 100%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shimmer 4s ease-in-out infinite;
}

@keyframes shimmer {

    0%,
    100% {
        background-position: 200% 0;
    }

    50% {
        background-position: -200% 0;
    }
}



